div{
    height: 100px;
    width: 200px;
    background-color: antiquewhite;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    text-align: right;
}
h3{
    height: 20px;
    width: 200px;
    /* border-width: 4px;
    border-style: dotted;
    border-color: aquamarine; */
    border: 4px dotted aquamarine; /*short trick 1)width 2)style 3)color*/
    text-align: center; /* text center ma to avse but have te height ane width ne anulaxine center thase */
}
