body{
    background-image: url(4bkg1.jpg);
    background-size: cover;
   
}
div{
    height: 100px;
    width: 100px;
    background-image: url(4bkg2.jpg);
    background-size: contain;
    color: white;
    border: 10px groove rgb(11, 55, 84);
    text-align: center;
    border-bottom-color:olive;
    border-left-color: olive;
    position: fixed;
    right: 0;
    top: 50px;
}

