body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    border:  10px solid black;
    margin: 2rem;
    text-align: center;

}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d44f74;
}
.green{
    background-color: #57A0B8;
}
.yellow{
    background-color: #FA8F3A;
}
.purple{
    background-color: #7693F8;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}