/* css me kitne types ke selectors aate hai? 
1. Universal Selector *    2. Element / Type Selector    3. Class Selector .     4. ID Selector #

5. Grouping Selector 
,h1,p,div{
 color:blue;
}
 
6. Descendant Selector (space)    7. Child Selector >    8. Adjacent Sibling Selector +     9. General Sibling Selector ~  
10. Attribute Selector [] 

11. Pseudo Class Selector :     12. Pseudo Element Selector ::

Basic → *  element  .class  #id
Relation → space  >  +  ~ ,
Special → []  :  ::*/



/* Descendant Selectors */
nav ul li a {
    background-color: fuchsia;
    color: rgb(2, 47, 47);
}
/* OR  
nav a {
    background-color: fuchsia;
    color: rgb(2, 47, 47);
} */

nav ul li {
    color: rgb(187, 255, 70);
}

.myclass span a {
    background-color: rgb(170, 201, 201);
}

/* Adjacent sibling combinator :- siblings elements mate use thy mtlb niche na example pramane p pachina tart j immidiatly avta h3 tag upar 
style apply karva */
p + h3 {
    text-decoration: underline wavy brown 3px;
    text-underline-offset: 5px;
}

h2 + button{
    background-color: aquamarine;
}
 
h2 + button + h5 + button{
    background-color: yellowgreen;
} 

/* Child Combinator :- parent-child vacche pareent pachi na tart avta child mate use thy */

div > input{
    background-color: gray;
}

/* ahi pela example ma nav pachi a use kari lidhu je valid che pab aya evu ny chale */

/* Attribute selectore */

/* value daine */
input[type="text"] {
    background-color: rgb(1, 107, 72);
}
input[type="password"] {
    height: 30px;
}

/*only attribute nu name apin */
input[placeholder]{
    color: darkblue;
    font-weight: 900;
    font-family:   Geneva, Verdana, sans-serif;
}

/* Importance between element , id and class
     id > class > element */

/* Importance between Descendant , element and class 
    class > descedant > element*/



/* Pseudo Class : hover , onclick...... */

button:hover{
    background-color: lightskyblue;
    color: rgb(93, 3, 33);
    font-family: monospace;
}

h3:active{         /*click karva thi*/
    background-color: bisque;
}

/* checked property :- last na radio button na font red bold karva che kyare jyare radio button ne check karva ma ave*/
input[type="radio"]:checked + label{
    color: red;
    font-weight: 800;
}

/* nth-of-type(n) :- odd type ya to even type ma ak sathe styling apply karva  */
div:nth-of-type(2n){
    background-color: cadetblue;
}


/* Pseudo elemens  */
h1::first-letter{
    color: rgb(168, 11, 11);
}

p::first-line{
    background-color: darkseagreen;
}

p::selection{
    background-color: plum; /*copy karela no color badalava */
}

/* ~> Selector Specificity
What is specificity?
Specificity is an algorithm that calculates the weight that is applied to a given CSS declaration.

          id                  class,attribute & psudo class                   element & psudo elements
          ___                 _______________________________                __________________________
          100                               10                                             0
ex)   h2{
         background-color: black
        }                             code = 001 = 1
ex 2) .myclass:hover {
                    color:blue
                    }                 code = 020 = 
~>id ni priority sav thi vadhu hova thi jo tene style ma use ak var kari lidhu pachi eni upar lagaveli biji ekey property use ny kari sakaay
~> Selectors upar hover karta selectors ni specificity show thse  
~> if specificity was same then it depends the stylling on cascading  
  
*/

